# Firebase Client Configuration (xfin-financial-infra)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyADwhYh3JjK_CzRQoH7MSYKLYkJbFs2EgA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=xfin-financial-infra.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=xfin-financial-infra
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=xfin-financial-infra.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=588930413436
NEXT_PUBLIC_FIREBASE_APP_ID=1:588930413436:web:932baed3af003fef36eaf9

# Backend Cloud Run API
NEXT_PUBLIC_API_URL=https://financial-infrastructure-api-asfbne2rqq-rj.a.run.app
